.baseball, .baseball2 {
    width: 200px;
    float: left;
    margin: 1%;
}

#football {
    float: right;
}

#top {
    background-color: lightsalmon;
}
#header {
    height: 30px;
    width: 720px;
    text-align: start;
    color: black;
    background-color: grey;
    font-family: monospace;
    position: fixed;
    overflow: hidden;
    top: 0;
  }

  body {
    background-color: lightgreen;
    padding-top: 5px;
    width: 720px;
  }
  